# Disable directory browsing
Options All -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect to public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
    
    # Redirect root to public
    RewriteRule ^$ public/ [L]
</IfModule>

# Deny access to .env file
<Files ".env">
    Order allow,deny
    Deny from all
</Files>
